img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
h1{
    font-family: 'Red Hat Display';
    font-size: 64px;
    font-weight: 900;
    text-align: center;
    color: black;
    
    
}

p{

    font-family: 'Red Hat Display';
}